In [1]:
age = 12
name = 'John'

In [2]:
type_age = type(age)

In [3]:
print(type_age)

<class 'int'>

In [4]:
type_name = type(name)

In [5]:
print(type_name)

<class 'str'>

In [6]:
#NUMBERS-------------------------------------------------------------------------------------

In [7]:
P = 1000
r = 10
n = 2

In [8]:
A = P*(1+r/100)**n

In [9]:
print(A)

1210.0000000000002

In [10]:
interest = A-P

In [11]:
print(interest)

210.00000000000023

In [12]:
#Strings-----------------------------------------------------------------------------------

In [13]:
name, title = 'Monty', 'Python'

In [14]:
full_name = name+" "+title

In [15]:
print(full_name)

Monty Python

In [16]:
first_name = full_name[:5]

In [17]:
print(first_name)

Monty

In [18]:
len_name = len(full_name)-1
print(len_name)

11

In [19]:
is_f = 'f' in full_name

In [20]:
print(is_f)

False

In [21]:
split_name = full_name.split()

In [22]:
print(split_name)

['Monty', 'Python']

In [23]:
#Lists-------------------------------------------------------------------------------------------

In [24]:
weights = [70,80,45,50]

In [25]:
maximum = max(weights)

In [26]:
print(maximum)

80

In [27]:
weights[2] = 48

In [28]:
weights

[70, 80, 48, 50]

In [29]:
total = sum(weights)

In [30]:
print(total)

248

In [31]:
mean = total / len(weights)

In [32]:
mean

62.0

In [33]:
#Dictionaries---------------------------------------------------------------------------------

In [34]:
 fruits = {"apple":"green","banana":"yellow","cherry":"red"}

In [35]:
fruits["apple"] = "red"

In [36]:
fruits

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}

In [37]:
fruits["guava"] = "green"

In [38]:
fruits

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'guava': 'green'}

In [39]:
del fruits["cherry"]

In [40]:
fruits

{'apple': 'red', 'banana': 'yellow', 'guava': 'green'}

In [41]:
#Tuples------------------------------------------------------------------------

In [42]:
weights = (70, 80, 45, 50)

In [43]:
weights_new = (70,80,48,50)

In [44]:
maximum = max(weights_new)

In [45]:
minimum = min(weights_new)

In [46]:
print(maximum)

80

In [47]:
print(minimum)

48

In [48]:
sum_weights = sum(weights_new)

In [49]:
mean_new = sum_weights/len(weights_new)

In [50]:
mean_new

62.0

In [51]:
#STATEMENTS - - - - - -- - - - - - - - - - - - - - - - - - - - -

In [52]:
#If-elif-else statements------------------------------------------------------------------------

In [53]:
num = 5
condition = None

In [54]:
if num>0:
    condition = 'Positive'
    print(condition)

elif num<0:
    condition = 'Negative'
    print (condition)
    
else:
    condition = "Zero"
    print (condition)

Positive

In [55]:
#While statements------------------------------------------------------------------------

In [56]:
factors = []
num = 1

In [57]:
count = 0

In [58]:
while num<=100:
    if num%10==0:
        factors.append(num)
    num=num+1

print(factors)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [59]:
#For statements------------------------------------------------------------------------

In [60]:
divisible = []

In [61]:
for i in range(1,51):
    if i%2==0 or i%3==0:
        divisible.append(i)
print(divisible)

[2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 26, 27, 28, 30, 32, 33, 34, 36, 38, 39, 40, 42, 44, 45, 46, 48, 50]

In [62]:
#Loop control statements--- break, continue, pass------------------------------------------------------------------------

In [63]:
multiples = []

In [64]:
for i in range(1,101):
    if i%3==0:
        continue
    else:
        multiples.append(i)

print(multiples)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [65]:
name=input()

Mrunal

In [66]:
print("Hey My name is " + name)

Hey My name is Mrunal

In [67]:
#Exception handling - Try except block ------------------------------------------------------------------------

In [68]:
num1=5
num2=0

In [69]:
try:
   quotient = num1/num2
   message = "Quotient is"+''+str(quotient)
   print(message)
except ZeroDivisionError:
   message = "Cannot divide by zero"
   print(message)
else:
   print("No exceptions")

Cannot divide by zero

In [70]:
#Exception handling - Else and finally clause ---------------------------------------------------------

In [71]:
num1, num2 = 5, 10

In [72]:
try:
    quotient = (num1/num2)
    message = "Quotient is" + ' ' + str(quotient)
    print(message)
except ZeroDivisionError:
    message = "Cannot divide by zero"
    print(message)
else:
    new_message = 'No exceptions occurred'
    print(new_message)
finally:
    final_message = 'Execution completed!'
    print(final_message)

Quotient is 0.5
No exceptions occurred
Execution completed!

In [73]:
#Functions ----------------------------------------

In [74]:
def mean(n):
    total = 0
    for i in range(n+1):
        total = total + i
    return total/n

In [75]:
val = mean(4)

In [76]:
print(val)

2.5

In [77]:
# lambda function to calculate square
square = lambda num: num**2
# natural numbers list
nums = [1,2,3,4,5,6,7,8,9,10]
# empty list
square_nums=[]
# loop through every element in list
for i in nums:
   square_nums.append(square(i))
# display new list
print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
# Higher order functions - natural numbers from 1 to 20
natural_nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

# lambda function for even numbers
is_even = lambda x: (x%2==0)

# filter() to filter out even elements
filtered = list(filter(is_even,natural_nums))
print(filtered)
# Code ends here

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [79]:
#Comprehensions

In [80]:
# initialize both lists
alist = [i for i in range(1,51)]
blist = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
# final list
final = [i for i in alist if i not in blist]
# display final list
print(final)

[1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50]

In [81]:
#OOP

In [82]:
# class for Circle
class Circle(object):
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        A = 3.14*(self.radius**2)
        return A
    def perimeter(self):
        P = 2*3.14*self.radius
        return P

circle = Circle(3)
circle_area = circle.area()
circle_perimeter = circle.perimeter()

print(circle_area, circle_perimeter)

28.26 18.84

In [83]:
square = lambda x: x**2

In [84]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [85]:
square_nums = []

In [86]:
for i in nums:
    square_nums.append(square(i))

print(square_nums)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
natural_nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [88]:
is_even = lambda x:x%2==0

In [89]:
filtered = list(filter(is_even, natural_nums))

In [90]:
filtered

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [91]:
alist = [i for i in range(1,51)]
alist

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [92]:
blist = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]

In [93]:
final = [i for i in alist if i not in blist]

In [94]:
final

[1,
 4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50]

In [95]:
# class for Circle
class Circle(object):
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        A = 3.14*(self.radius**2)
        return A
    def perimeter(self):
        P = 2*3.14*self.radius
        return P

circle = Circle(3)
circle_area = circle.area()
circle_perimeter = circle.perimeter()

print(circle_area, circle_perimeter)

28.26 18.84