In [1]:
import numpy as np
import pandas as pd

In [2]:
nums = [800678,800456]

In [3]:
names = ['Ricky','Sneha']

In [4]:
series_1 = pd.Series(nums)

In [5]:
series_2 = pd.Series(nums,index=names)

In [6]:
series_1

0    800678
1    800456
dtype: int64

In [7]:
series_2

Ricky    800678
Sneha    800456
dtype: int64

In [8]:
a = pd.Series(data=[1,2,3,4], index=[1,2,3,4])
b = pd.Series(data=[1,2,3,4], index=[0,1,3,4])

In [9]:
c = a+b

In [10]:
c

0    NaN
1    3.0
2    NaN
3    6.0
4    8.0
dtype: float64

In [11]:
c.fillna(0,inplace=True)

In [12]:
c

0    0.0
1    3.0
2    0.0
3    6.0
4    8.0
dtype: float64

In [13]:
#Data frames

In [14]:
pincodes = [800678, 800456]
numbers = [2567890, 2567657]

In [15]:
labels = ['R','M']

In [16]:
first = pd.DataFrame({"pincodes":pincodes,'numbers':numbers},index=labels)

In [17]:
print(first)

   pincodes  numbers
R    800678  2567890
M    800456  2567657

In [18]:
df = pd.read_csv('Dataframe-pokemon.csv')

In [19]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [20]:
head = df.head(10)

In [21]:
print(head)

    #              Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
0   1         Bulbasaur  Grass  Poison  45      49       49       65       65
1   2           Ivysaur  Grass  Poison  60      62       63       80       80
2   3          Venusaur  Grass  Poison  80      82       83      100      100
3   4     Mega Venusaur  Grass  Poison  80     100      123      122      120
4   5        Charmander   Fire     NaN  39      52       43       60       50
5   6        Charmeleon   Fire     NaN  58      64       58       80       65
6   7         Charizard   Fire  Flying  78      84       78      109       85
7   8  Mega Charizard X   Fire  Dragon  78     130      111      130       85
8   9  Mega Charizard Y   Fire  Flying  78     104       78      159      115
9  10          Squirtle  Water     NaN  44      48       65       50       64

   Speed  Generation  Legendary
0     45           1      False
1     60           1      False
2     80           1      False
3     80           1      False
4     65           1      False
5     80           1      False
6    100           1      False
7    100           1      False
8    100           1      False
9     43           1      False

In [22]:
describe = df.describe()

In [23]:
describe

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.0000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,400.5000,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,231.0844,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.0000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,200.7500,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,400.5000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,600.2500,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,800.0000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [24]:
shape = df.shape
print(shape)

(800, 12)

In [25]:
null = df.isnull().sum()
print(null)

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [26]:
unique = df.nunique()

In [27]:
print(unique)

#             800
Name          799
Type 1         18
Type 2         18
HP             94
Attack        111
Defense       103
Sp. Atk       105
Sp. Def        92
Speed         108
Generation      6
Legendary       2
dtype: int64

In [28]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']

In [29]:
print(df['Total'])

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 800, dtype: int64

In [30]:
df.rename(columns={'HP':'Health Points','Sp. Atk':'Attack speed points','Sp. Def':'Defense speed points'},inplace=True)

In [31]:
df.drop(['#'],inplace=True,axis=1)

In [32]:
df.head(5)

,Name,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [33]:
df.set_index('Name',inplace=True)

In [34]:
df.head(5)

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [35]:
Type_2_num = df['Type 2'].nunique()
print(Type_2_num)

18

In [36]:
Type_2_type = df['Type 2'].unique()
print(Type_2_type)

['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']

In [37]:
Type_2_count = df['Type 2'].value_counts()
print(Type_2_count)

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Ice         14
Rock        14
Water       14
Ghost       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [38]:
Type_2_sum = df['Type 2'].isnull().sum()
print(Type_2_sum)

386

In [39]:
health = df['Health Points'].idxmax()
print(health)

Blissey

In [40]:
special_attack_pokemon = df['Attack speed points'].idxmax()
print(special_attack_pokemon)

Mega Mewtwo Y

In [41]:
special_defense_pokemon = df['Defense speed points'].idxmax()
print(special_defense_pokemon)

Shuckle

In [42]:
fastest_pokemon = df['Speed'].idxmax()
print(fastest_pokemon)

Deoxys Speed Forme

In [43]:
df = df[df.index.notnull()]

In [44]:
df

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [45]:
highest_legendary = df[df['Legendary']==True]['Type 1'].value_counts().idxmax()

In [46]:
print(highest_legendary)

Psychic

In [48]:
single_type_legendary = df[df['Type 2'].isnull() & df['Legendary']==True]

In [49]:
print(single_type_legendary)

                            Type 1 Type 2  Health Points  Attack  Defense  \
Name
Mewtwo                     Psychic    NaN            106     110       90
Mega Mewtwo Y              Psychic    NaN            106     150       70
Raikou                    Electric    NaN             90      85       75
Entei                         Fire    NaN            115     115       85
Suicune                      Water    NaN            100      75      115
Regirock                      Rock    NaN             80     100      200
Regice                         Ice    NaN             80      50      100
Registeel                    Steel    NaN             80      75      150
Kyogre                       Water    NaN            100     100       90
Primal Kyogre                Water    NaN            100     150       90
Groudon                     Ground    NaN            100     150      140
Deoxys Normal Forme        Psychic    NaN             50     150       50
DeoxysAttack Forme         Psychic    NaN             50     180       20
Deoxys Defense Forme       Psychic    NaN             50      70      160
Deoxys Speed Forme         Psychic    NaN             50      95       90
Uxie                       Psychic    NaN             75      75      130
Mesprit                    Psychic    NaN             80     105      105
Azelf                      Psychic    NaN             75     125       70
Regigigas                   Normal    NaN            110     160      110
Darkrai                       Dark    NaN             70      90       90
Shaymin Land Forme           Grass    NaN            100     100      100
Arceus                      Normal    NaN            120     120      120
Tornadus Incarnate Forme    Flying    NaN             79     115       70
Tornadus Therian Forme      Flying    NaN             79     100       80
Xerneas                      Fairy    NaN            126     131       95

                          Attack speed points  Defense speed points  Speed  \
Name
Mewtwo                                    154                    90    130
Mega Mewtwo Y                             194                   120    140
Raikou                                    115                   100    115
Entei                                      90                    75    100
Suicune                                    90                   115     85
Regirock                                   50                   100     50
Regice                                    100                   200     50
Registeel                                  75                   150     50
Kyogre                                    150                   140     90
Primal Kyogre                             180                   160     90
Groudon                                   100                    90     90
Deoxys Normal Forme                       150                    50    150
DeoxysAttack Forme                        180                    20    150
Deoxys Defense Forme                       70                   160     90
Deoxys Speed Forme                         95                    90    180
Uxie                                       75                   130     95
Mesprit                                   105                   105     80
Azelf                                     125                    70    115
Regigigas                                  80                   110    100
Darkrai                                   135                    90    125
Shaymin Land Forme                        100                   100    100
Arceus                                    120                   120    120
Tornadus Incarnate Forme                  125                    80    111
Tornadus Therian Forme                    110                    90    121
Xerneas                                   131                    98     99

                          Generation  Legendary  Total
Name
Mewtwo                             1       True    680
Mega Mewtwo Y                      1       True    780
Raikou                             2       True    580
Entei                              2       True    580
Suicune                            2       True    580
Regirock                           3       True    580
Regice                             3       True    580
Registeel                          3       True    580
Kyogre                             3       True    670
Primal Kyogre                      3       True    770
Groudon                            3       True    670
Deoxys Normal Forme                3       True    600
DeoxysAttack Forme                 3       True    600
Deoxys Defense Forme               3       True    600
Deoxys Speed Forme                 3       True    600
Uxie                               4       True    580
Mesprit                            4       True    580
Azelf                              4       True    580
Regigigas                          4       True    670
Darkrai                            4       True    600
Shaymin Land Forme                 4       True    600
Arceus                             4       True    720
Tornadus Incarnate Forme           5       True    580
Tornadus Therian Forme             5       True    580
Xerneas                            6       True    680

In [50]:
print(len(single_type_legendary))

25

In [51]:
df.index = df.index.str.upper()

In [52]:
df['Type 1'] = df['Type 1'].apply(lambda x: x.lower())

In [53]:
df['Type 2'] = df['Type 2'].apply(lambda x: x.lower() if isinstance(x,str) else None)

In [54]:
df.head(5)

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
BULBASAUR,grass,poison,45,49,49,65,65,45,1,False,318
IVYSAUR,grass,poison,60,62,63,80,80,60,1,False,405
VENUSAUR,grass,poison,80,82,83,100,100,80,1,False,525
MEGA VENUSAUR,grass,poison,80,100,123,122,120,80,1,False,625
CHARMANDER,fire,None,39,52,43,60,50,65,1,False,309

In [56]:
fast_type = df.groupby('Type 1')['Speed'].agg(np.median).sort_values(ascending=False).idxmax()

In [57]:
fast_type

'flying'

In [58]:
pivot = pd.pivot_table(df,index='Type 1', values='Attack speed points', columns='Generation')

In [68]:
print(pivot)

Generation           1          2           3           4           5  \
Type 1
bug          46.428571  47.916667   48.333333   63.600000   62.888889
dark               NaN  85.000000   71.666667   95.000000   65.615385
dragon       73.333333        NaN  115.000000   72.500000   97.777778
electric     91.111111  91.428571   93.000000   90.416667   87.500000
fairy        77.500000  53.000000         NaN  120.000000         NaN
fighting     42.500000  35.000000   48.000000   96.666667   47.142857
fire         93.142857  83.625000   99.375000   99.000000   72.888889
flying             NaN        NaN         NaN         NaN  117.500000
ghost       128.750000  85.000000   65.800000   90.285714   91.000000
grass        90.538462  61.666667   80.923077   84.333333   69.266667
ground       39.375000  45.000000   76.428571   51.500000   61.600000
ice         105.000000  60.000000   82.142857   93.333333   80.000000
normal       55.125000  58.466667   53.222222   60.555556   54.473684
poison       57.142857  70.000000   72.000000   58.166667   50.000000
psychic     123.000000  84.285714   97.750000   80.625000   92.785714
rock         61.500000  66.000000   62.125000   44.833333   65.500000
steel              NaN  50.000000   65.416667   84.333333   68.750000
water        69.354839  68.277778   78.481481   81.153846   77.777778

Generation           6
Type 1
bug          48.000000
dark         78.666667
dragon       82.250000
electric     83.666667
fairy        88.333333
fighting     63.000000
fire         88.500000
flying       71.000000
ghost        52.300000
grass        67.400000
ground             NaN
ice          38.000000
normal       46.750000
poison       78.500000
psychic     109.800000
rock         75.888889
steel        72.000000
water        85.200000

In [69]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'product': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

In [71]:
merged = pd.merge(df1,df2,how='inner',left_on=['fruit','weight'], right_on=['product', 'kilo'], suffixes=['_left', '_right'])

In [72]:
print(merged)

    fruit weight  price_left product  kilo  price_right
0   apple   high           5   apple  high           11
1   apple   high           5   apple  high           11
2   apple   high           0   apple  high           11
3  orange    low           3  orange   low            5
4  orange    low          14  orange   low            5
5  orange    low          14  orange   low            5

In [73]:
df.head()

,Type 1,Type 2,Health Points,Attack,Defense,Attack speed points,Defense speed points,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,
BULBASAUR,grass,poison,45,49,49,65,65,45,1,False,318
IVYSAUR,grass,poison,60,62,63,80,80,60,1,False,405
VENUSAUR,grass,poison,80,82,83,100,100,80,1,False,525
MEGA VENUSAUR,grass,poison,80,100,123,122,120,80,1,False,625
CHARMANDER,fire,None,39,52,43,60,50,65,1,False,309