In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('FeatureSelection.csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,3,4,1,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,3,4,1,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,3,4,1,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,3,4,1,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,3,4,1,0,12,2008,8,4,250000

In [4]:
X = df.drop(['SalePrice'],axis=1)
X

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,3,65.0,8450,1,1,3,3,0,...,0,0,3,4,1,0,2,2008,8,4
1,2,20,3,80.0,9600,1,1,3,3,0,...,0,0,3,4,1,0,5,2007,8,4
2,3,60,3,68.0,11250,1,1,0,3,0,...,0,0,3,4,1,0,9,2008,8,4
3,4,70,3,60.0,9550,1,1,0,3,0,...,0,0,3,4,1,0,2,2006,8,0
4,5,60,3,84.0,14260,1,1,0,3,0,...,0,0,3,4,1,0,12,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,1,3,3,0,...,0,0,3,4,1,0,8,2007,8,4
1456,1457,20,3,85.0,13175,1,1,3,3,0,...,0,0,3,2,1,0,2,2010,8,4
1457,1458,70,3,66.0,9042,1,1,3,3,0,...,0,0,3,0,3,2500,5,2010,8,4
1458,1459,20,3,68.0,9717,1,1,3,3,0,...,0,0,3,4,1,0,4,2010,8,4
1459,1460,20,3,75.0,9937,1,1,3,3,0,...,0,0,3,4,1,0,6,2008,8,4

In [5]:
y = df['SalePrice']
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

#### Correlation coefficient Filter

In [7]:
#Using - Correlation coefficient Filter
X_train['Class'] = y_train

C:\Users\Mrunal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#Since we are only interested in the correlation of features with the target variable, only extract the Class column of 't_corr' and save it back to 't_corr'
t_corr = X_train.corr()
t_corr = t_corr['Class']

In [9]:
corr_columns=t_corr[abs(t_corr)>0.5].index

In [10]:
corr_columns=corr_columns.drop('Class')
print(corr_columns)

Index(['OverallQual', 'YearBuilt', 'YearRemodAdd', 'ExterQual', 'BsmtQual',
       'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'FullBath', 'KitchenQual',
       'TotRmsAbvGrd', 'GarageCars', 'GarageArea'],
      dtype='object')

In [11]:
#New train and test dataframes
X_train_new=X_train[corr_columns]

X_test_new=X_test[corr_columns]

In [12]:
model=LinearRegression()
model.fit(X_train_new,y_train)
corr_score=model.score(X_test_new,y_test)
print(corr_score)

0.7227056628201063

In [13]:
print(len(X_train_new.columns))

13

In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [15]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [16]:
ames = pd.read_csv('FeatureSelection.csv')

In [17]:
X=ames.drop(['SalePrice'],1)
y=ames['SalePrice'].copy()

In [18]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)

#### Chi2 filter

In [22]:
test = SelectKBest(score_func=chi2,k=60)

X_train = test.fit_transform(X_train,y_train)
X_test = test.transform(X_test)

In [23]:
model = LinearRegression()
model.fit(X_train, y_train)

chi2_score = model.score(X_test, y_test)
print(chi2_score)

0.7526152480701811

#### ANOVA / F-score

In [27]:
from sklearn.feature_selection import f_regression

test = SelectKBest(score_func=f_regression, k=60)

X_train1 = test.fit_transform(X_train,y_train)
X_test1 = test.transform(X_test)

In [28]:
model = LinearRegression()
model.fit(X_train1, y_train)

F_score = model.score(X_test1, y_test)
print(F_score)

0.7526152480701811

#### Recursive feature elimination (RFE)

In [29]:
from sklearn.feature_selection import RFE

nof_list=[20,30,40,50,60,70,80]
high_score=0
nof=0

for n in nof_list:
    X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)
    rfe = RFE(model,n)
    X_train_rfe = rfe.fit_transform(X_train,y_train)
    X_test_rfe = rfe.transform(X_test)
    model = LinearRegression()
    model.fit(X_train_rfe,y_train)
    if model.score(X_test_rfe,y_test)>high_score:
        high_score = model.score(X_test_rfe,y_test)
        nof = n
        
print("No. of features=", nof, "gives the best score=", high_score)

No. of features= 30 gives the best score= 0.7627843526086596

#### Embedded

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

# Code starts here
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)

lasso = Lasso()
lasso.fit(X_train,y_train)
lasso_score = lasso.score(X_test,y_test)
print(lasso_score)

ridge = Ridge()
ridge.fit(X_train,y_train)
ridge_score = ridge.score(X_test,y_test)
print(ridge_score)

0.6671828548745306
0.6788394406778494

#### PCA

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [32]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=0)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [33]:
pca = PCA(n_components=35,random_state=0)

X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

In [34]:
model = LinearRegression()
model.fit(X_train_pca,y_train)
pca_score = model.score(X_test_pca,y_test)
print(pca_score)

0.7614586077016584